/* Style général du corps de la page */
body {
    font-family: 'Arial', sans-serif; /* Définit la police de caractères */
    background-color: #3e76e8; /* Couleur de fond de la page */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime le remplissage par défaut */
    
}
ul{
    color: #333;
}


/* Styles pour l'en-tête de la page */
header {
    background-color: #333; /* Couleur de fond de l'en-tête */
    color: #fff; /* Couleur du texte dans l'en-tête */
    padding: 10px 20px; /* Remplissage autour du contenu de l'en-tête */
    text-align: center; /* Centre le texte dans l'en-tête */
}

/* Styles pour le titre principal */
h1 {
    font-size: 2.5em; /* Taille de la police pour le titre */
    margin: 0; /* Supprime les marges autour du titre */
}

/* style pour l'image*/
img {
    
    width: 20%; /*definit la largeur */
    height: 20%; /*definit la hauteur */
    border-radius: 10px ; /* arrondir les coins*/
}

/* Conteneur principal pour le contenu */
.container {
    max-width: 1200px; /* Largeur maximale du conteneur */
    margin: auto; /* Centre le conteneur horizontalement */
    padding: 20px; /* Remplissage à l'intérieur du conteneur */
}

/* Styles pour le pied de page */
footer {
    background-color: #333333; /* Couleur de fond du pied de page */
    color: #fff; /* Couleur du texte dans le pied de page */
    text-align: center; /* Centre le texte dans le pied de page */
    padding: 10px 0; /* Remplissage autour du contenu du pied de page */
    position: relative; /* Position relative pour le placement */
    bottom: 0; /* Positionne le pied de page en bas */
    width: 100%; /* Largeur complète du pied de page */
}

/* Styles pour les liens dans le menu de navigation */

.nav-container {
    display: flex; /* Utilise Flexbox pour un agencement flexible */
    justify-content: center; /* Centre la navigation horizontalement */
    border: 2px solid #16d716; /* Ajoute un cadre autour de la navigation */
    border-radius: 10px; /* Arrondit les coins du cadre */
    padding: 10px; /* Ajoute un espacement intérieur pour le confort visuel */
    background-color: #444; /*Ajoute une couleur de fond à l'interieur de la bordure*/
}

nav ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le rembourrage par défaut */
    margin: 0; /* Supprime la marge par défaut */
    display: flex; /* Utilise flexbox pour aligner horizontalement les éléments de la liste */
}

nav li {
    margin: 0 25px; /* Définit l'espacement entre les éléments de la liste */
}

nav a:hover {
    background-color: #ba1515; /* Couleur de fond au survol */
    
}

nav a{
    color: #009439;
}

/* style du formulaire*/
form {
display: flex;
flex-direction: column; /*Aligne les éléments du formulaire vérticalement */
width: 300px; /*Largeur du formulaire*/
}
  
input,textarea,select {
    margin-bottom: 10px; /*ajoute un espacement entre les elements */
}
