 <!-- Menu de navigation -->
<div class="nav-container">
    <nav>
        <ul>
            <!-- Lien vers la page de l'équipe -->
            <li><a href="equipe">Équipe</a></li>
            <!-- Lien vers la page des menus -->
            <li><a href="menus">Menus</a></li>
            <!-- Lien vers la page de contact -->
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
</div>
