<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Équipe</title>
</head>
<body>
    <header>
        <h1>Notre Équipe</h1>
    </header>
    <main>
        <h2>Membres de l'équipe</h2>
        <ul>
            <% equipe.equipe1.forEach(e => { %>
                <li> <%= e %> </li>
            <% }) %>
        </ul>
    </main>
    
</body>
<footer>
    <%- include('footer.ejs') %> 
    <a href="/">Retour Accueil</a>
</footer>
</html>